<?xml version="1.0"?>
<config>
    <modules>
        <Magebuzz_Freetextsearch>
            <version>0.1.3</version>
        </Magebuzz_Freetextsearch>
    </modules>
    <frontend>
		<secure_url>
            <freetextsearch>/freetextsearch/</freetextsearch>
        </secure_url>	
        <routers>
            <freetextsearch>
                <use>standard</use>
                <args>
                    <module>Magebuzz_Freetextsearch</module>
                    <frontName>freetextsearch</frontName>
                </args>
            </freetextsearch>
        </routers>
        <layout>
            <updates>
                <freetextsearch>
                    <file>freetextsearch.xml</file>
                </freetextsearch>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<freetextsearch>
				<use>admin</use>
				<args>
					<module>Magebuzz_Freetextsearch</module>
					<frontName>freetextsearch</frontName>
				</args>
			</freetextsearch>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<freetextsearch>
					<file>freetextsearch.xml</file>
				</freetextsearch>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <freetextsearch>
                <class>Magebuzz_Freetextsearch_Model</class>
                <resourceModel>freetextsearch_mysql4</resourceModel>
            </freetextsearch>
            <freetextsearch_mysql4>
                <class>Magebuzz_Freetextsearch_Model_Mysql4</class>
                <entities>
                    <freetextsearch>
                        <table>freetextsearch</table>
                    </freetextsearch>
                </entities>
            </freetextsearch_mysql4>
        </models>
        <resources>
            <freetextsearch_setup>
                <setup>
                    <module>Magebuzz_Freetextsearch</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </freetextsearch_setup>
            <freetextsearch_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </freetextsearch_write>
            <freetextsearch_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </freetextsearch_read>
        </resources>
        <blocks>
            <freetextsearch>
                <class>Magebuzz_Freetextsearch_Block</class>
            </freetextsearch>			
        </blocks>
        <helpers>
            <freetextsearch>
                <class>Magebuzz_Freetextsearch_Helper</class>
            </freetextsearch>
        </helpers>
		<template>
			<email>
				<freetextsearch_general_email_template>
					<label>Title Email</label>
					<file>freetextsearch_example.html</file>
					<type>html</type>
				</freetextsearch_general_email_template>
			</email>
		</template>			
    </global>
	<default>
		<freetextsearch>
			<general>
				<enable>1</enable>
				<enable_quick_search>1</enable_quick_search>
			</general>
			<search_setting>
				<search_by_sku>1</search_by_sku>
				<search_by_manufacturer>1</search_by_manufacturer>
				<search_by_desc>1</search_by_desc>
				<cms_pages_allow>1</cms_pages_allow>
				<cms_pages_content>0</cms_pages_content>
				<search_result_notice><![CDATA[Most relevant results for "<span class="keyword">{{keyword}}</span>". Click <strong>Search</strong> button to view more]]></search_result_notice>
			</search_setting>
			<quick_search_setting>
				<number_character>3</number_character>
				<number_results>5</number_results>
				<thumbnail_product_image_width>75</thumbnail_product_image_width>
				<limit_character_product_desc>75</limit_character_product_desc>
			</quick_search_setting>
		</freetextsearch>
	</default>
	<translate>
		<modules>
			<Magebuzz_Freetextsearch>
				<files>
					<default>Magebuzz_Freetextsearch.csv</default>
				</files>
			</Magebuzz_Freetextsearch>
		</modules>
	</translate>	
</config>